tango_comments.egg-info/

build/*

build/

dist/

__pycache__/

MANIFEST 2.20.42 PM.in

setup 2.20.42 PM.py

tango_comments.egg-info/dependency_links.txt

tango_comments.egg-info/not-zip-safe

tango_comments.egg-info/PKG-INFO

tango_comments.egg-info/SOURCES.txt

tango_comments.egg-info/top_level.txt

*.pyc

dist/tango-comments-0.2.tar.gz

*.gz
